<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Sheffield Dental Care/src/uk/ac/sheffield/com2002/sheffielddentalcare/SheffieldDentalCare.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.ac.sheffield.com2002.sheffielddentalcare.SheffieldDentalCare"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Sheffield Dental Care"/>
</launchConfiguration>
