<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Com1003Assignment3/src/uk/ac/sheffield/aca15hpc/Weather.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.ac.sheffield.aca15hpc.Weather"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Com1003Assignment3"/>
</launchConfiguration>
